[global_config]
  handle_size = 2
  inactive_color_offset = 0.75
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    background_color = "#1e1e2e"
    background_darkness = 0.75
    background_type = transparent
    font = JetBrains Mono 10
    foreground_color = "#cdd6f4"
    icon_bell = False
    palette = "#45475a:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#bac2de:#585b70:#f38ba8:#a6e3a1:#f9e2af:#89b4fa:#f5c2e7:#94e2d5:#a6adc8"
    scrollback_lines = 10000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
  [[aura_dark]]
    background_color = "#282a36"
    background_darkness = 0.75
    background_type = transparent
    font = JetBrains Mono 10
    foreground_color = "#edecee"
    icon_bell = False
    palette = "#110f18:#ff6767:#61ffca:#ffca85:#a277ff:#a277ff:#61ffca:#edecee:#6d6d6d:#ffca85:#a277ff:#ffca85:#a277ff:#a277ff:#61ffca:#edecee"
    scrollback_lines = 10000
    scrollbar_position = hidden
    show_titlebar = False
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]


======================================


Paste inside ~/.config/gtk-3.0/gtk.css

VteTerminal, vte-terminal {
  padding-left: 16px;
  padding-right: 16px;
}

.terminator-terminal-window separator {
  background: rgba(148, 226, 213, 0.85);
}
