[global_config]
  handle_size = 2
  inactive_color_offset = 0.75
  suppress_multiple_term_dialog = True
[keybindings]
[profiles]
  [[default]]
    icon_bell = False
    background_color = "#282a36"
    background_darkness = 0.75
    background_type = transparent
    font = JetBrains Mono 12
    foreground_color = "#edecee"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_lines = 10000
    palette = "#110f18:#ff6767:#61ffca:#ffca85:#a277ff:#a277ff:#61ffca:#edecee:#6d6d6d:#ffca85:#a277ff:#ffca85:#a277ff:#a277ff:#61ffca:#edecee"
    use_system_font = False
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = False
      fullscreen = True
      size = 1920, 1080
      title = bonizario@bonizario-A60-MUV:~/projects/jstack/fincheck/api
      last_active_term = 36685fa2-6c4e-4c8f-91ca-71ea7c9fdffc
      last_active_window = True
    [[[child1]]]
      type = VPaned
      parent = child0
      order = 0
      position = 422
      ratio = 0.3925581395348837
    [[[child2]]]
      type = HPaned
      parent = child1
      order = 0
      position = 1182
      ratio = 0.6172323759791123
    [[[terminal3]]]
      type = Terminal
      parent = child2
      order = 0
      profile = default
      uuid = 36685fa2-6c4e-4c8f-91ca-71ea7c9fdffc
      directory = /home/bonizario/projects/jstack/fincheck/api
    [[[terminal4]]]
      type = Terminal
      parent = child2
      order = 1
      profile = default
      uuid = d9068f07-f330-448f-a2e0-46af36231374
      directory = /home/bonizario/projects/jstack/fincheck/api
    [[[terminal5]]]
      type = Terminal
      parent = child1
      order = 1
      profile = default
      uuid = dfee98cc-d686-4252-835e-6ccfbdbaf74a
      directory = /home/bonizario/projects/jstack/fincheck/api
  [[oldDefault]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]


======================================


Paste inside ~/.config/gtk-3.0/gtk.css

VteTerminal, vte-terminal {
  padding-left: 16px;
  padding-right: 16px;
}

.terminator-terminal-window separator {
  width: 4px;
  height: 4px;
  background: rgba(97, 255, 202, 0.3);
}
